body, input, textarea {
  font-family: "游ゴシック Medium", "Yu Gothic Medium", "游ゴシック体", "YuGothic", "ヒラギノ角ゴ ProN W3", "Hiragino Kaku Gothic ProN", "メイリオ", "Meiryo", "verdana", sans-serif;
}
 body {
    background-color: #aac8ff;
    color: #000;
  }
a {text-decoration: none}
a {color: #0984fe}
body {
width: 80%;
margin: 0px auto;
}

@media only screen and (max-device-width: 480px) {
 body {
width: 95%;
margin: 0px auto;
}
}
